/**app.wxss**/
$bgColor:#022D55;
$sizeColor:#FFFFFF;

page,
block,
view,
scroll-view,
swiper,
movable-view,
icon,
text,
progress,
button,
checkbox,
form,
input,
label,
picker,
picker-view,
radio,
slider,
switch,
textarea,
navigator,
audio,
image,
video,
map,
canvas,
contact-button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

page {
    font-size: 28rpx;
    font-family: Source Han Sans SC, Source Han Sans SC-Regular;
    /* 会对样式造成非常大的影响 */
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	background: $bgColor;
	color: $sizeColor;
}
 
 
button,
button:after,
button:before {
    border-radius: 0;
    border: 0;
    position: relative;
	line-height: 0;
}
 
image,
video,
progress,
textarea,
input {
    width: 100%;
}
 
/* 隐藏滚动条 */
::-webkit-scrollbar {
    display: none !important;
}
 
 
/* button禁用样式 */
button[disabled] {
    color: #fff !important;
    background: #cdcdcd !important;
    border: transparent !important;
    cursor: not-allowed !important;
}
 
/* 关于ios安全区域(iphone x,iphone xs ,iphone xs max, iphone xr),详情见：https://blog.csdn.net/qq_42354773/article/details/81018615、https://blog.csdn.net/qq_43071910/article/details/85294434 */
.iphonex {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}
 
/*flex 弹性布局*/

.me-fx-row{/*横向排列*/
	display:flex;
}

.me-fx-row-c{/*左右居中*/
	display:flex;
	justify-content:center;
}

.me-fx-row-sb{/*两端对齐*/
	display:flex;
	justify-content:space-between;
}

.me-fx-row-sb-c{/*两端对齐 上下居中*/
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.me-fx-row-sb-start{/*两端对齐 上对齐*/
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
}

.me-fx-row-sb-end{/*两端对齐 底部对齐*/
	display:flex;
	justify-content:space-between;
	align-items:flex-end;
}

.me-fx-row-sa{/*两端对齐右边距*/
	display:flex;
	justify-content:space-around;
}

.me-fx-row-sa-c{/*两端对齐右边距 上下居中*/
	display:flex;
	justify-content:space-around;
	align-items:center;
}

.me-fx-row-sa-end{/*两端对齐右边距 底部对齐*/
	display:flex;
	justify-content:space-around;
	align-items:flex-end;
}

.me-fx-row-c-c{/*居中对齐 上下居中*/
	display:flex;
	justify-content:center;
	align-items:center;
}

.me-fx-row-c-end{/*居中对齐 底部对齐*/
	display:flex;
	justify-content:center;
	align-items:flex-end;
}

.me-fx-row-end{/*右对齐*/
	display:flex;
	justify-content:flex-end;
}

.me-fx-row-end-c{/*右对齐 上下居中*/
	display:flex;
	justify-content:flex-end;
	align-items:center;
}

.me-fx-row-start-c{/*左对齐 上下居中*/
	display:flex;
	align-items:center;
}
.me-fx-row-start-end{/*左对齐 底部对齐*/
	display:flex;
	align-items:flex-end;
}


.me-fx-col{/*纵向排列*/
	display:flex;
	flex-direction:column;
}

.me-fx-col-c{/*上下居中*/
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.me-fx-col-sb{/*两端对齐*/
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.me-fx-col-sb-c{/*两端对齐 左右居中*/
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
}

.me-fx-col-sa{/*两端对齐有边距*/
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}

.me-fx-col-sa-c{/*两端对齐有边距 左右居中*/
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
}

.me-fx-col-c-c{/*上下左右居中*/
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.me-fx-col-start-c{/*上对齐 左右居中*/
	display:flex;
	flex-direction:column;
	align-items:center;
}

.me-fx-col-end{/*下对齐*/
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}

.me-fx-col-end-c{/*下对齐 左右居中*/
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:center;
}

.me-fx-1{/*占满剩余空间*/
	flex:1;
}
.me-fx-wrap{/*占满剩余空间*/
	flex-wrap:wrap;
}
/*浮动布局*/

.me-fot-parent:after{/*加在浮动元素的父元素上 解决因所有子元素浮动后父元素的高度问题*/
	content:'';
	display:block;
	clear:both;
}

.me-fot-lt{/*左浮动*/
	float:left;
}

.me-fot-rt{/*右浮动*/
	float:right;
}
/*其他常用样式*/
.me-text-beyond{/*文本内容超宽度省略号显示 单行*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:100%;
}

.me-text-beyond-multi{/*文本内容超宽度省略号显示 多行*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}
.form_list {
	margin:20rpx 24rpx 0;
}
.form_list_select {
	margin:20rpx 24rpx 0;
	border-radius: 10rpx;
	background:rgba(83,143,245,.1);
	padding: 0 16rpx;
	height: 70rpx;
	font-size: 26rpx;
	image {
		width: 21rpx;
		height: 12rpx;
	}
}